{% load static %}
{% include "headtag.html" %}

<body>
  <br /><br /><br />
  <div class="container">
    <div class="row">
      <div class="twelve columns center">

        <div id="loading-image">
          <img src="{% get_static_prefix %}img/ajax-loader.gif" alt="Loading..." />
        </div>

        <span id="wait">
          please wait, generating training set.
        </span>


      </div>
    </div>
  </div>


  <script type="text/javascript">
    jQuery(window).load(function() {
	jQuery('#loading-image').hide();
        jQuery('#wait').text("data set generated, keep testing.")
    });
  </script>

  <br /><br /><br />
</body>
