{% load static %}
{% include "headtag.html" %}

<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>Prediction Page</h1>
        <div class="post-seperator"></div>
        <form method="POST" id="" action="/result">
          {% csrf_token %}
          <dl class="row twelve columns">
            <p>Asagidaki alana yazarin 1 adet kose yazisini giriniz.
              Biz de tahmin etmeye calisalim.
            </p>
          </dl>

          <dl class="field row twelve columns" style="margin: 10 0px;">
	    <dt class="text">
              <textarea name="yazi1_name" id="yazi1" rows="" cols="" tabindex=""></textarea>
            </dt>
          </dl>

          <dl class="field row ten columns" style="margin: 10 0px;">
            <input type="submit" name="hede" value="Submit" />
          </dl>
        </form>
      </div>

      <div class="push_one five columns center">
        <h2>Trained Authors</h2>
        <a href="http://www.taraf.com.tr/ahmet-altan/">
          Ahmet Altan</a> ,
        <a href="http://hurarsiv.hurriyet.com.tr/yazarlar/default.aspx?ID=131">
          Ahmet Hakan</a> ,
        <a href="http://hurarsiv.hurriyet.com.tr/yazarlar/default.aspx?ID=12">
          Ayse Arman</a> ,
        <a href="http://www.radikal.com.tr/index/cuneyt-ozdemir">
          Cüneyt Özdemir</a> ,
        <a href="http://hurarsiv.hurriyet.com.tr/yazarlar/default.aspx?ID=69">
          Mehmet Ali Birand</a> ,
        <a href="http://www.taraf.com.tr/mehmet-baransu/">
          Mehmet Baransu</a> ,
        <a href="http://www.sabah.com.tr/yazarlar/barlas/arsiv/">
          Mehmet Barlas</a> ,
        <a href="">Nazlı Ilıcak</a> ,
        <a href="">Taha Akyol</a> ,
        <a href="">Yılmaz Özdil</a>
      </div>

      <div class="five columns center">
        <h2>Project Members</h2>
        <a href="http://batuhanbardak.com">Batuhan Bardak</a> <br />
        <a href="http://muhammetcan.net">Muhammet Can</a> <br />
        <a href="">Mustafa Kılıç</a>
      </div>
    </div>
  </div>

  <br /><br /><br />
</body>
